<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>G17</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/gform/Agente">Agente</a></li>
                    <li><a class="button" href="/gform/Cliente">Cliente</a></li>
                    <li><a class="button" href="/gform/Tipo_Apolice">Tipo de Apolice</a></li>
                    <li><a class="button" href="/gform/Apolice">Apolice</a></li>
                    <li><a class="button" href="/subform/Apolice.Apolice_Cliente?option='">Apolice Cliente</a></li>
                    <li><a class="button" href="/Userlogin">Users</a></li>
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>

