{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}

<div class="dados">
    <br><br>
    <h1>G17</h1>
    <div style="border: 1px solid #7cb9e8; padding: 20px; margin-top: 25px; text-align: center; background-color: #cde6f0; color: #333333; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <p style="font-size: 1.2em; font-weight: bold; margin-bottom: 10px;">Apólices de vários tipos</p>
        <p style="font-size: 1em; line-height: 1.5;">Exploramos as categorias essenciais de seguros, abrangendo desde apólices de vida e saúde até seguros patrimoniais e de responsabilidade civil. </p>
            </div>
</div>
{% endblock %}